server:
  port: 8085

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices-realm

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: product-service
              uri: http://localhost:8081
              predicates:
                - Path=/products/**

            - id: order-service
              uri: http://localhost:8082
              predicates:
                - Path=/orders/**
